.clipboard {
  width: 16px;
  height: 16px;
}

.equalizer {
  width: 32px;
  height: 32px;
}

.file-text2 {
  width: 16px;
  height: 16px;
}

.question {
  width: 32px;
  height: 32px;
}

.user {
  width: 16px;
  height: 16px;
}

