doctype html

p 你好 <b>毛毛</b>


script.
	console.log('Hello world')

script
	| console.log('Hello world')

//- 分割属性

a(rel="nofollow", href="http://baidu.com") 招聘

//- <a rel='nofollow' >

// 单行注释

//- 不输出的注释

<!--  多行注释 -->

//- 标签的用法
#content 默认是div
p#info p标签
a.btn class为btn

a.btn.btn-primary

a#Thisisid.btn

//- 不被缓冲的代码

- for(var i =0;i < 3;i++) 
	li Thisislicontent

//- 被缓冲代码 b标签会被转义
p='你好<b></b>'

//- b标签不会被转义
p!='你好<b></b>'

//- 变量

- var name = 'yaochun'
p my name is #{name}

//- 不转义
- var name = "hello boy<b>asdf</b>"
| !{name}

// 数组
- var jobs = ["fe", "boy", "we want you"]
