/*引入字体文件 制作图标（后续需添加css）*/
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} 
/* General style */
.grid-gallery ul {
	/*去掉  列表的. */
	list-style: none;
	/*去掉ul左边40的padding*/
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	/*去掉默认的16 40的margin*/
	margin: 0;
}

.grid-gallery figure img {
	/*设置block以后  可以设置宽、高、居中对齐等操作*/
	/*貌似这里不设置 也可以设置宽 但是会间隙*/
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	/*去掉h3默认的18.720的margin*/
	margin: 0;
	/*设置了下边距*/
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	/*去掉p的默认margin*/
	margin: 0;
}

/* Grid style */
.grid-wrap {
	/* 设置最大宽度：不设置宽 li会挤到一起 并且会覆盖*/
	max-width: 69em;
	/* 居中 */
	margin: 0 auto;
	/*设置左右边距和下边距*/
	padding: 0 1em 1.875em;
}

.grid {
	/* 居中 */
	margin: 0 auto;
}

.grid li {
	/*占最外层section宽度的25%*/
	width: 25%;
	float: left;
	/*鼠标样式*/
	cursor: pointer;
}

.grid figure {
	/*有间距，设置li也是可以的*/
	padding: 15px;
	/*-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;*/
}

.grid li:hover figure {
	/*透明度设置*/
	opacity: 0.7;
}

.grid figcaption {
	/*背景色*/
	background: #e4e4e4;
	/*padding设置*/
	padding: 25px;
}

/*当屏幕很窄的时候 保证li的宽度*/
@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

/* Slideshow style */
/*slideshow是一个遮罩：
    这些是必须
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
*/
/*absoluted:生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。*/
/*fixed:相对于浏览器窗口进行定位。*/
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	/*显示后一个图片的样式*/
	-webkit-perspective: 1000px;
	/*perspective: 1000px;*/
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	/*transition: opacity 0.5s, visibility 0s 0.5s;*/
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	/*-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;*/
}


.slideshow ul {
	width: 100%;
	height: 100%;
	/*-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;*/
}

.slideshow ul.animatable li {
	/*-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;*/
}

.slideshow-open .slideshow ul {
/*	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}


/*将li绝对定位到中间，li必须是定宽高的。这是一个技术点*/
.slideshow li {
	width: 660px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}
/*显示li*/
.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
/* 	-webkit-transition: opacity 0.3s;
transition: opacity 0.3s; */
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	/*-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;*/
}

/*定义相关的样式*/
.slideshow figure {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 50px solid #fff;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 200%;
}

/* Navigation */
/*对图标进行定位*/
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	/*-webkit-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #31373a;
}
/*添加图标的CSS样式
参考文章：http://www.tuicool.com/articles/UruYFvq
*/
.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


span.nav-prev:before {
	content: "\e601";
}

span.nav-next:before  {
	content: "\e600";
}

span.nav-close:before {
	content: "\e602";
}

